* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: $grey22;
}

img {
  width: 100%;
  user-select: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  height: 10000px;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.inner {
  padding: 0 80px;
}
