@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
}

button {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}