.category-wrap {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 998;
  transition: 0.4s;
  background-color: $white;
  .inner {
    @include flexAlign(space-between, center);
    margin-top: 20px;
    transition: 0.2s;
    .container {
      width: 98%;
      overflow: hidden;
      position: relative;
      .category {
        display: flex;
        gap: 51px;
        .category-item {
          position: relative;
          flex-basis: auto;
          flex-shrink: 0;          
          button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4px 0;
            margin: 12px 0;
            img {
              width: 24px;
              opacity: 0.6;
            }
            span {
              padding-top: 3px;
              opacity: 0.6;
              font-size: 12px;
            }
            &:hover img {
              opacity: 1;
            }
            &:hover span {
              opacity: 1;
            }
          }
          &:hover ::after {
            position: absolute;
            content: "";
            bottom: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $greyE9;
          }
          &.active {   
            animation: clickAni;
            animation-duration: .1s;           
            button {
              img {
                opacity: 1;
              }
              span {
                opacity: 1;
              }
            }
            & ::after {
              position: absolute;
              content: "";
              bottom: 0;
              display: block;
              width: 100%;
              height: 2px;
              background-color: $grey22;
            }
          }
        }
      }
      @keyframes clickAni {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(1);
        }
      }
      .category-btn {
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        button {
          background: $white;
          border: 0.5px solid rgba(0, 0, 0, 0.3);
          border-radius: 50%;
          width: 28px;
          height: 28px;
        }
        &:hover {
          box-shadow: 3px 3px 6px $greyE9;
        }
        &.left {
          left: 0;
          display: none;
        }
        &.right {
          right: 0;
          background-color: $white;
          box-shadow: -10px 0 20px 10px $white;
        }
      }
    }
    .category-filter {
      padding-left: 20px;
      button {
        @include flexAlign(center, center);
        width: 80px;
        line-height: 48px;
        gap: 5px;
        background-color: $white;
        border: 1px solid $greyDD;
        border-radius: 12px;
        font-size: 12px;
      }
    }
  }
  &.on {
    .inner {
      margin-top: 0;
      box-shadow: 0px 2px 2px $greyDD;
    }
  }
}
