#main {
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 80px;
  .inner {
    margin-top: 16px;
    .room-info {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-auto-rows: 1fr;
      gap: 20px 25px;
      @include bp1600() {
        grid-template-columns: repeat(5, 1fr);
      }
      @include bp1200 () {
        grid-template-columns: repeat(3, 1fr);
      }
      @include bp1000 () {
        grid-template-columns: repeat(2, 1fr);
      }
      @include bp800 () {
        grid-template-columns: repeat(1, 1fr);
      }
      .room-item {
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          .room-img {
            height: 65%;
            border-radius: 20px;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .room-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .room-location {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 15px;
              font-weight: 700;
              .room-score {
                i {
                  font-size: 10px;
                }
                span {
                  padding-left: 3px;
                }
              }
            }
            .room-distance {
              color: $grey71;
              font-size: 15px;
            }
            .room-price {
              font-size: 15px;
              strong {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
