#main {
  max-width: 2500px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 80px;
  .inner {
    margin-top: 16px;
    .room-info {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-auto-rows: 1fr;
      gap: 20px 25px;
      @include bp1600() {
        grid-template-columns: repeat(5, 1fr);
      }
      @include bp1200 () {
        grid-template-columns: repeat(3, 1fr);
      }
      @include bp1000 () {
        grid-template-columns: repeat(2, 1fr);
      }
      @include bp800 () {
        grid-template-columns: repeat(1, 1fr);
      }
      .room-item {
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          .room-img {
            height: 65%;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            &:hover .room-btn {
              visibility: visible;
              opacity: 0.9;
            }
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
            .room-like {
              position: absolute;
              top: 20px;
              right: 20px;
              button {
                font-size: 20px;
                i {
                  color: rgba(0, 0, 0 , 0.7);
                  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
                }
              }
            }
            .room-btn {
              @include flexAlign(null, center);
              position: absolute;
              top: 50%;
              right: 13px;
              transform: transition(0, -50%) scale(0.9);
              background: $white;
              border: 0.5px solid rgba(0, 0, 0, 0.3);
              border-radius: 50%;
              background-color: $white;
              visibility: hidden;
              opacity: 0;
              transition: .4s;
              &:hover {
                visibility: visible;
                opacity: 1;
                transform: transition(0, -50%) scale(1);
              }
              button {
                width: 28px;
                height: 28px;
                font-size: 12px;
                text-align: center;
              }
            }
            .room-dot {
              position: absolute;
              left: 50%;
              bottom: 5%;
              transform: translate(-50%, -50%);
              display: flex;
              justify-content: space-between;
              width: 50px;
              .dot {
                width: 6px;
                height: 6px;
                border-radius: 6px;
                background-color: $white;
                opacity: .5;
                &.on {
                  opacity: 1;
                }
              }
            }
          }
          .room-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .room-location {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 15px;
              font-weight: 700;
              .room-score {
                i {
                  font-size: 10px;
                }
                span {
                  padding-left: 3px;
                }
              }
            }
            .room-distance {
              color: $grey71;
              font-size: 15px;
            }
            .room-price {
              font-size: 15px;
              strong {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
